h1, h2, h3, h4, h5, h6,
p, span {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
@font-face {
  font-family: 'TabernaFont';
  src: url('taberna-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Menutitulo';
  src: url('Allison-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  margin: 15px;
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.header{
  display: flex;
  width: 100%;
}
.header-content {flex: 1;}
.logo{
  font-family: TabernaFont, sans-serif;
  font-size: 2rem;
  padding: 0px;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: left;
}
.menutitulo{
  text-align: center;
  font-family: "lucida handwriting", cursive;
  font-size: 4rem;
  color:#d92e2b;
}
/* Tabs */
.tabs {
  display: flex;
  width: 100%;
  gap: 1px;
  /*margin-bottom: 10px;*/
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 0px; 
  cursor: pointer;
  /*border: 1px solid #76272c;*/
  border-radius: 15px 15px 0px 0px ;
  background-color: #d9d9d9;
}

.tab.active {
  background-color: #76272c; /* dorado */
  color: white;
  font-weight: bold;
}

#list{
  background-color: #ffffff;
  padding: 10px;
}
/* Dropdown */
#categoria-dropdown {
  width: 45%;
  margin-bottom: 20px;
  padding: 4px;
  font-size: 1rem;
  border-radius: 8px;
  border-color:#76272c;
  background-color: #ffffff;
}

/* Item con imagen */
.item-con-imagen {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  border-top: 1px solid #76272c;
  padding-top: 10px;
}

.item-con-imagen img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.item-con-imagen .info h3 {
  margin: 0 0 5px;
}

.item-con-imagen .info p,
.item-con-imagen .info small {
  margin: 2px 0;
}

/* Item sin imagen (lista simple) */
.item-sin-imagen {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #76272c;
  padding-top: 10px;
}

.item-sin-imagen h3 {
  margin: 0 0 2px;
}

.item-sin-imagen p,
.item-sin-imagen small {
  margin: 2px 0;
}

/* Lightbox */
.lightbox {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(118,39,44,0.9);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0px;
}
h2.subcategoria-titulo {
  font-family: Menutitulo, sans-serif;
  font-size: 3rem;
  line-height: 2rem;
  padding-top: 15px;
  /*border-bottom: 2px #76272c solid;*/
}
.detalle{
  font-size: 1rem;
}
.detalle h3{
  font-size: 1.25rem;
  color: #76272c;
  font-weight: bold;
}
hr.linea4{
  border: none;
  height: 4px;
  background-color: #76272c;
}
.layout {
  display: flex;
  width: 100%;
}
.col-izq {
  flex: 1;
}
.col-der {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.fila {
  width: 100%;
}
.fila-doble {
  display: flex;
  margin-top: auto;
}
.col-50 {
  flex: 0 0 50%;
}
.precio{
  font-family: "Times New Roman", Sans-Serif;
  font-size: 1.5rem;
}
.rojo{
  color: #d92e2b;
  font-weight: bold;
}
.d {text-align: right;}
.tachado {
  position: relative;
}

.tachado::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: red;
  }
